https://github.com/KurimuzonAkuma/pyrogram/archive/v2.1.21.zip
Tgcrypto
requests
filesplit
filetype
aiofiles
python-dotenv
aiohttp[speedups]
pymongo
dnspython
cryptography
pycryptodome
psutil
humans-formatter
Flask==1.1.2
gunicorn==20.1.0
Jinja2==3.0.3
werkzeug==2.0.2
itsdangerous==2.0.1
